@model Department

@{
    ViewData["Title"] = "Delete Department";
}

<h1>Are you sure to delete this department</h1>

<form asp-action="Delete">

    <partial name="PartialViews/DetailsDeleteDepartmentPartial"></partial>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>