@model Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Are you sure to delete this Employee</h1>

<form asp-action="Delete">

    <partial name="PartialViews/DetailsDeleteEmployeePartial"></partial>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>