@model EmployeeViewModel

@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>

<form asp-action="Edit" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <Partial name="PartialViews/CreateEditEmployeePartial"></Partial>


    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-info">Cancel</a>


</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial"></partial>
}
